<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../Picture/tt1.JPG">
    <meta charset="UTF-8">
    <title>Отель Аура</title>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="../Picture/tt1.JPG" class="img-thumbnail" width="50px">
        <a class="navbar-brand" href="index.html">Отель Аура</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="NumberOfRooms.html">Номера</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Entertainments.html">Развлечения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Feedback.html">Отзывы</a>
                </li>
            </ul>
            <ul>
                <div class="info1">
                   Ульяновск, пр-т Нариманова, дом 12  | +7(8422)73-50-03 
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="helpmepls">
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     
<div id="carousel1" class="carousel slide" data-bs-ride="carousel1">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="8" aria-label="Slide 9"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../Picture/Feedback/F1.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Светлана Рерих, декабрь 2014</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f2.jpeg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Группа Комиссар в отеле "Аура", октябрь 2014</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f3.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Александр Добрынин в отеле «Аура»</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f4.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Группа "Сладкий Сон"</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f5.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Съемочная группа программы "Контрольная закупка" во главе с Антоном Привольновым! Июль 2013</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f6.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Группа Комбинация, 24 октября 2013 год</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f7.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Группа НА-НА в отеле "Аура" ноябрь 2013</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f8.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Тарзан</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../Picture/Feedback/f9.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>"Братья Гримм" в новом составе апрель 2022</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
</div>

</body>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            </div>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">© All rights reserved. Сеть отелей, 1999-2022 год. &copy; Политика обработки персональных данных ООО «ЗУРО»
                </p>
            </div>
        </div>
    </div>                   
</footer>
</html>